<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIVersion</key>
	<string>v4</string>
	<key>AttendanceQuestionOptions</key>
	<array>
		<string>Love it!</string>
		<string>Hate it!</string>
		<string>On the fence</string>
	</array>
	<key>BaseAPIUrl</key>
	<string>http://diddychat-api-stage.us-east-1.elasticbeanstalk.com</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>EdgeTV!</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon-76.png</string>
		<string>icon-152.png</string>
		<string>icon-167.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EdgeTV!</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>EdgeChat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb133172340606837</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.825440785631-9n75nk5c9u49smh3oc08sd3r7fkqka3u</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.eventChat.Mb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>EdgeTVChat</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.eventChat.Mb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>DBName</key>
	<string>edgetvchat_stage</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>b03fa99b21c311e1a7541aa21646dda2d65f06f1</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>JDJe89eIIQCp7avAQBFNbY4lQ</string>
					<key>consumerSecret</key>
					<string>8McfJsKmAUZ4kkOJLFTGLAualQjIiBFA6GCxVfJYNngiT5TRZE</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>133172340606837</string>
	<key>FacebookDisplayName</key>
	<string>EdgeChat</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>comgooglemaps:</string>
		<string>com.googleusercontent.apps.190223769082-ti5caahchke46c91husp9s27nqs13pcc</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>$(PRODUCT_NAME) photo use</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) camera use</string>
	<key>NSLocationWhenINUseUsageDescription</key>
	<string>Location starts</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please allow EdgeChat access your location only while you are using the app so that we may let you know what’s around you, share your whereabouts if you wish, get directions, meet other people, or remember where you were. You can turn off our locations services any time you wish.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app does not require access to the microphone.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library.</string>
	<key>UIAppFonts</key>
	<array>
		<string>VOYAGER_BOLD.ttf</string>
		<string>VOYAGER_LIGHT.ttf</string>
		<string>VOYAGER_MEDIUM.ttf</string>
		<string>VOYAGER_REGULAR.ttf</string>
		<string>VOYAGER_THIN.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>location-services</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_dgCRywCCn1vmBmlNTkXWudhbBAftGatT</string>
		<key>test</key>
		<string>key_test_nbCMvsDDm6BdsfbHPDab8glfrvptPjF7</string>
	</dict>
	<key>mainThemeColorHex</key>
	<string>#166cac</string>
</dict>
</plist>
